:root{
  --main_color: orchid;
}
.accubar {
  position: absolute;
  top: 1vh;
  height: 98vh;
  width: 90vw;
  left: 4vw;
  outline: 1px solid yellow;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.9);
}
.inner-svg {
  width: 40vw;
  
}

.color1 {
  fill: var(--main_color);
}
.debuggerTxt{
  color: var(--main_color);
  position: relative;
  line-height: 1.5;
}
.dbtxt3:after {
  position: absolute;
  content: '';
  right: -40px;
  border: 6px solid transparent;
  border-radius: 50%;
  border-top: 6px solid var(--main_color);
  border-bottom: 6px solid var(--main_color);
  width: 14px;
  height: 14px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* ANTISCROLLING DURING LOADING, just add this to the body */
.stop-scrolling {
  height: 100%;
  overflow: hidden;
}