:root{
  --main_color: orchid;
  --ghostTime: 500ms;
  --maskAnimDuration: 750ms;
  --maskPosX: 0;
}
.color1 {
  fill: var(--main_color);
}


/* Styling of the whole page WRAPPER of the loading bar */
.accubar {
  position: absolute;
  top: 4vh;
  height: 95vh;
  width: 90vw;
  left: 4vw;
  outline: 1px solid yellow;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0, 0.9);
}
/* ----- */


.inner-svg {
  width: 35vw; /* Размеры самого элемента svg */
  transition-duration: var(--ghostTime);
}


.maskMovingPart{
  transition-duration: var(--maskAnimDuration);
}
.maskLeftToRight{
  transform: translate3d(var(--maskPosX), 0, 0);
}

/* .maskBottomToTop{
  Needs adjustments: a variable that moves from 0 to svg's HEIGHT
  transform: translate3d(0, calc(-1 * var(--maskPosX)), 0);
} */
/* .maskCircleFromCenter{
  Needs partial adjustments in template svg, so that moving part is a circle
} */




/* DEBUGGER TEXT STYLING */
.debuggerTxt{
  color: var(--main_color);
  position: relative;
  line-height: 1.5;
  align-self: flex-start;
}
.imgsLoader:after {
  position: absolute;
  content: '';
  right: -30px;
  border: 6px solid transparent;
  border-radius: 50%;
  border-top: 6px solid var(--main_color);
  border-bottom: 6px solid var(--main_color);
  width: 14px;
  height: 14px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/* ----- */


/* Final animation for the svg and bar (just opacity out for now) */
.svgEndAnimation{opacity: 0;}
.barEndAnimation{opacity: 0;}
/* ----- */


/* ANTISCROLLING DURING LOADING, just add this to the body */
.stop-scrolling {
  height: 100%;
  overflow: hidden;
}
/* ----- */