:root{
  --main_color: orchid;
  --ghostTime: 500ms;
  --maskAnimDuration: 750ms;
  --maskPosX: 0;
}
.color1 {
  fill: var(--main_color);
}


/* Styling of the whole page WRAPPER of the loading bar */
.accubar {
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*background-color: #6eb6db;*/
  background: linear-gradient(135deg, #6eb6db 0%, #2b83b2 51%, #2981b1 100%);
  pointer-events: none;
  /* transition: all 0.3s ease-in-out; */
  z-index: 5;
}


.inner-svg {
  width: 35vw; /* Размеры самого элемента svg */
  /* animation: fadein 2s; */
  transition-timing-function: linear;
}


