/* THIS IS FAKE CSS FOR LOADING TIME */
/* THIS IS FAKE CSS FOR LOADING TIME */
/* THIS IS FAKE CSS FOR LOADING TIME */
/* THIS IS FAKE CSS FOR LOADING TIME */
/* THIS IS FAKE CSS FOR LOADING TIME */
/* THIS IS FAKE CSS FOR LOADING TIME */
/* THIS IS FAKE CSS FOR LOADING TIME */
/* THIS IS FAKE CSS FOR LOADING TIME */
/* THIS IS FAKE CSS FOR LOADING TIME */
.fakeClassSelector{
  color: orchid;
  background-color: black;
  border: 500px solid pink;
  outline: 1px solid orangered;
  margin: 900px 500px 200px 1px;
  padding: -10000px -200000px 300000px -11px;
}
.fakeClassSelector{
  color: orchid;
  background-color: black;
  border: 500px solid pink;
  outline: 1px solid orangered;
  margin: 900px 500px 200px 1px;
  padding: -10000px -200000px 300000px -11px;
}
.fakeClassSelector{
  color: orchid;
  background-color: black;
  border: 500px solid pink;
  outline: 1px solid orangered;
  margin: 900px 500px 200px 1px;
  padding: -10000px -200000px 300000px -11px;
}
.fakeClassSelector{
  color: orchid;
  background-color: black;
  border: 500px solid pink;
  outline: 1px solid orangered;
  margin: 900px 500px 200px 1px;
  padding: -10000px -200000px 300000px -11px;
}